<div>
    <h2 style="margin-left: 10%;">Title</h2>
</div>
<hr align="left" style="width: 70px; margin-left: 10%;">
<div>
    <p style = "margin-left: 10%; margin-bottom: 10%;" >Description goes here</p>
</div>
<div class="row">
    <div class="col-md-2"></div>
    
    <div class="col-md-3 col-sm-6"  *ngFor="let item of itemService">
        <div class="ih-item circle effect3 left_to_right" >
            <a href="https://git-scm.com/docs/git-remote" >
                <!-- <div class="spinner"></div> -->
                <div class="img">
                    <img src="{{item.imagepath}}" alt="image">
                </div>

                <div class="info">
                        <h4 style="color: aliceblue; padding-top: 10%;">{{item.caption}}</h4>
                </div>
            </a>
        </div>
    </div>
</div>
